/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,400;0,500;1,400;1,500&display=swap");

* {
  font-family: "DM Mono", monospace;
}

.ace_editor {
  font-size: 14px;
  font-family: "DM Mono", "Consolas" monospace !important;
}

.ace_mobile-menu,
.ace-mobile-button {
  display: none;
}
